<h1>Cafes Reviewed:</h1>

<% @user.cafes.each do |cafe| %>
<h4>Cafe Name:</h4> <a href="/cafes/<%=cafe.id%>"><p class ="lead"><%= cafe.name %></p></a><br>
<h4>Location: </h4> <p class ="lead"><%= cafe.location %></p><br>
<h4>Parking? (If yes, is it valet?): </h4> <p class ="lead"><%= cafe.parking %></p><br>
<h4>Price of an Americano?: </h4> <p class ="lead"><%= cafe.americano_price %></p><br>
<h4>Dog Friendly? (If yes, are dogs allowed inside or on the terrace?): </h4><p class ="lead"><%= cafe.dog_friendly %></p><br>
<h4>Outlets Available?:</h4> <p class ="lead"><%= cafe.outlets %></p><br>
<h4>Review:</h4> <p class ="lead"><%= cafe.review %></p><br><br>
<%end%>

<h4>Click <a href="/cafes/new">here</a> to write a new review.</h4>


