
<h4>Cafe Name:</h4><p class ="lead"><%= @cafe.name %></p>
<h4>Location:</h4> <p class ="lead"> <%= @cafe.location %></p>
<h4>Parking? (If yes, is it valet?):</h4> <p class ="lead"><%= @cafe.parking %></p>
<h4>Price of an Americano?:</h4> <p class ="lead"> <%= @cafe.americano_price %></p>
<h4>Dog Friendly? (If yes, are dogs allowed inside or on the terrace?): </h2> <p class ="lead"> <%= @cafe.dog_friendly %></p>
<h4>Outlets Available?: </h4> <p class ="lead"><%= @cafe.outlets %></p>
<h4>Review: </h4><p class ="lead"> <%= @cafe.review %></p>


<p><a href="/cafes/<%=@cafe.id%>/edit">Edit Review</a></p>
<p><a href="/cafes">Click here</a> to go back to the main cafe page or <a href="/logout">click here</a> to log out.<p>
 
<form method="post" action="/cafes/<%= @cafe.id %>">
  <input type="hidden" name="_method" value="delete" />
  <button type="submit">Delete Review</button>
</form>